@import "../common/variables.css";
@import "../common/layout.css";
@import "../common/text.css";
@import "../templates/header.css";

#home-link {
  display: none;
}

#landscape,
#portrait {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-svg {
  width: 100%;
  height: 100%;
}

.nav-svg > svg a {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.nav-svg > svg a:hover,
.nav-svg > svg a:focus {
  opacity: 1;
}

.svg-title {
  transition: opacity 0.3s ease-in;
}

.svg-csm:hover ~ .svg-title,
.svg-csm:focus ~ .svg-title,
.svg-rainydays:hover ~ .svg-title,
.svg-rainydays:focus ~ .svg-title {
  opacity: 0;
}

#landscape {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-svg > svg a {
    display: block;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  #portrait {
    display: block;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  #portrait {
    display: none;
  }

  #landscape {
    display: block;
  }
}
