@import '../common/variables.css';
@import '../common/layout.css';
@import '../common/text.css';
@import '../templates/header.css';

.svg-page-color,
a:focus .svg-hover-page-color,
a:hover .svg-hover-page-color {
  fill: var(--inovation-coach);
}

.frontpage .menu-polygon {
  background-image: url(../../images/banner.jpg);
  background-size: cover;
}

.frontpage .page-description, #skiplink a:focus { 
  background-color: var(--inovation-coach);
}

@media screen and (min-width: 992px) {
  .frontpage .description-wrapper {
    background-image: url(../../images/banner.jpg);
  }

  .frontpage .menu-polygon {
    background-image: none;
    background-color: var(--inovation-coach);
  }
}